<nav class="nav">
  <h1><a routerLink="/">ShopEase</a></h1>
  <div *ngIf="menuType !== 'seller'" class="nav-search">
    <input
      #searchText
      type="text"
      (keyup)="searchProduct($event)"
      (blur)="hideSearch()"
      placeholder="Search for Products"
    />
    <button (click)="searchedText(searchText.value)">Search</button>
    <ul class="suggested-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetailsPage(item.id)">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/seller-auth">Seller</a></li>
      <li><a routerLink="/auth">Login/Sign up</a></li>
      <li>
        <a href="#">Cart ({{ cartValue }})</a>
      </li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="/seller-home">Product list</a></li>
      <li><a routerLink="/seller-add-product">Add product</a></li>
      <li>
        <a href="#">Hello {{ sellerName | titlecase }}</a>
      </li>
      <li><a (click)="sellerLogout()">Logout</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="/seller-home">Seller</a></li>
      <li><a routerLink="/">Home</a></li>
      <li>
        <a href="#">{{ userName | titlecase }}</a>
      </li>
      <li><a routerLink="my-orders">My orders</a></li>
      <li><a (click)="userLogout()">Logout</a></li>
      <li>
        <a [routerLink]="cartValue > 0 ? 'cart-page' : null"
          >Cart ({{ cartValue }})</a
        >
      </li>
    </ul>
  </div>
</nav>
