<div class="seller-auth">
  <div class="signup">
    <h1>Seller sign up!</h1>
    <form
      class="common-form"
      #sellerSignUp="ngForm"
      (ngSubmit)="submitForm(sellerSignUp.value)"
    >
      <input
        class="form-input"
        type="email"
        name="email"
        ngModel
        placeholder="Enter your email"
      />
      <input
        class="form-input"
        type="text"
        name="name"
        ngModel
        placeholder="Enter your name"
      />
      <input
        class="form-input"
        type="password"
        name="password"
        ngModel
        placeholder="Enter your password"
      />

      <button class="form-button">Sign up</button>
    </form>
  </div>
</div>
